body{
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(161, 76, 76);
    margin: 0;
    padding: 0;
}

.container{
    max-width: 700px;
    margin: 50px auto;
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

